@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
// fonts
$fontMain: Rubik;
$fontBold: Rubik Mono One;

.container {
    color: rgb(215,215,215);
    background-color: rgb(28,28,28);
    font-family: $fontMain;
    font-size: 16px;
    .content {
        h1 {
            font-family: $fontBold;
        }
    }
}
