@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
// fonts
$fontMain: Rubik;
$fontBold: Rubik Mono One;
// colors
$colorOffWhite: rgb(215,215,215);
// animations
$animTransition1: all 0.666s cubic-bezier(0.06, 0.98, 0.41, 0.93);

body {
    background-color: rgb(28,28,28);
}

#container {
    color: $colorOffWhite;
    font-family: $fontMain;
    font-size: 16px;
    .content {
        h1 {
            color: $colorOffWhite;
            font-family: $fontBold;
        }
        .randomizeButton {
            color: $colorOffWhite;
            border: 1.5px inset rgba(235,235,235,0.7);
            background-color: rgb(12,12,12);
            border-radius: 32px;
            padding: 10px 16px;
            transition: $animTransition1;
        }
        .randomizeButton:hover {
            color: rgb(235,235,235);
            border: 1.5px outset rgba(235,235,235,0.7);
            background-color: rgb(20,20,20);
            transform: scale(1.01);
        }
    }
}
